.cpttenis-field {
    margin: 5px 15px 5px 0;
}

.cpttenis-field-store {
    width: 45%;
}

.cpttenis-field-price {
    width: 45%;
}

.cpttenis-field-url {
    width: 94%;
}

.cpttenis-field-range {
    width: 94%;
}

.cpttenis-field-separator {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #6eb0e0;
    margin: 30px 0;
}

.cpttenis-field-legend {
    text-transform: uppercase;
    font-weight: 800;
}




/* new */
.form-grid {
    display: grid;
    justify-items: stretch;
}

.field-half {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.field-full {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.fieldset {
    padding: 15px;
    margin: 15px auto;
    border: 1px solid #ccc;
}

.separator {
    border: 1px solid #c9c9c9;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 100%;
    margin: 15px 0 30px 0;
}

.table-review {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-review td {
    vertical-align: top;
    padding-top: 20px;
    padding-right: 20px;
}

.form-grid .radio-group {
    display: flex;
    margin: 10px 0 30px 0;
    justify-content: center;
    flex-direction: column;
}

.form-grid .radio-group label {
    margin-bottom: 10px;

}

/* end new */